/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Style */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    border: none;
    border-radius: 0.3rem;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 2%;
    margin-top: 2%;
    cursor: pointer;
}

/* header style */
/* Navigation bar style */
header {
    background: rgba(255, 144, 14, 0.10);
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 12%;
}

nav ul {
    display: flex;
    margin-right: 10%;
    gap: 10%;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
}

nav h1 {
    color: #131313;
    font-size: 2.2rem;
    font-weight: 700;
}

/* Banner style */
.banner-content {
    margin: 3% 25%;
    text-align: center;
}

.banner-content h1 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.banner-content p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.banner-img {
    margin: 3% 12%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}




/* Responsive Style */
/* Smaller Devices */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    
}
/* Medium Devices */
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
}